
<table class="table">
    <thead>
        <tr>
            <th scope="col">Total Devices</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td scope="row">@NumberOfDevices</td>
        </tr>
    </tbody>
</table>