@page "/"

@* @attribute [Authorize(Roles ="Admin")] *@
<PageTitle>Index</PageTitle>

<h1>Hello, Welcome to Management Central!</h1>

<AuthorizeView Roles="Admin">
    <Authorized>
        <h5>Hej Admin: @context.User.Identity?.Name!</h5> <br />
        <h6>Hoppas du får en bra dag idag!</h6>
    </Authorized>
    <NotAuthorized>
        <h6>Inte inloggad!</h6>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="User">
    <Authorized>
        <h5>Hej User: @context.User.Identity?.Name!</h5> <br />
        <h6>Hoppas du får en bra dag idag!</h6>
    </Authorized>
    <NotAuthorized>
        <h6>Inte inloggad!</h6>
    </NotAuthorized>
</AuthorizeView>